<div class="container">
        <div class="row">
            <div class="col-md-8 p-t-2">
                <h4 class="title"> <a routerLink="/"><i class="fas fa-chevron-left"></i></a> Add New Appointment</h4>
                <form (ngSubmit)="onSubmit(form)" #form="ngForm" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="appointment-title" >Appointment Title</label>
                        <input type="text" name="title" class="form-control" id="appointment-title" [class]="{'is-invalid': errors.hasOwnProperty('title')}" ngModel>
                        <p [class]="{'invalid-feedback': errors.hasOwnProperty('title')}">{{ errors.hasOwnProperty('title') ? errors.title : '' }}</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="appointment-description">Appointment Description</label>
                        <textarea class="form-control" name="description" id="appointment-description" [class]="{'is-invalid': errors.hasOwnProperty('description')}" ngModel></textarea>
                        <p [class]="{'invalid-feedback': errors.hasOwnProperty('description')}">{{ errors.hasOwnProperty('description') ? errors.description : '' }}</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="appointment-date">Appointment Date/Time</label>
                        <div class="row">
                            <div class="col-md-6">
                                <input name="date" type="date" class="form-control" id="appointment-date" [class]="{'is-invalid': errors.hasOwnProperty('date')}" ngModel>
                                <p [class]="{'invalid-feedback': errors.hasOwnProperty('date')}">{{ errors.hasOwnProperty('date') ? errors.date : '' }}</p>
                            </div>
                            <div class="col-md-6">
                                <input name="time" type="time" class="form-control" id="appointment-time" [class]="{'is-invalid': errors.hasOwnProperty('time')}" ngModel>
                                <p [class]="{'invalid-feedback': errors.hasOwnProperty('time')}">{{ errors.hasOwnProperty('time') ? errors.time : '' }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3"><label for="remind-me"><input type="checkbox" class="form-check-input" name="remind_me" id="remind-me" value="1" ngModel /> Remind Me</label></div>
                    <div class="mb-3">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary text-uppercase fw-bold" [disabled]="processing">
                                <span *ngIf="!processing">Create Appointment</span>
                                <i class="fas fa-circle-notch fa-spin" *ngIf="processing"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>